.html-area{
    height: 100%;
}
.editor-area-style{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
}
.editor-title{
    align-self: center;
}