.html-area{
    height: 100%;
}
.editor-area-style{
    height: 100%;
    width: 100%;
    background-color: #282a3a;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
    color: #FFF;
    outline: none;
    resize: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
.editor-area-style-outer{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
}
.editor-title{
    align-self: center;
}


.text-area-parent{
    height: 100%;
    width: 100%;
    display: flex;
}
.numbers{
    width: 6%;
    height: 100%;
    background-color: #282a3a;
    outline: none;
    display: flex;
    flex-direction: column;
    line-height: 21px;
    text-align: right;
    font-size: 14px;
}
textarea{
    line-height: 21px;
}
.numbers span{
    counter-increment: linenumber;
    
}
.numbers span::before{
    content: counter(linenumber);
    display: block;
    color: #506882;
}
/* .number{
    color: white;
    padding: 2px 1px 1px 4px;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 4px;
    border: 1px solid white; 
} */
.code-area{
    width: 95%;
    height: 100%;
}